@using MVC.Enums
@{
    ViewData["Title"] = "Home Page";
    // //C#  Code 
    // var title = "ASP.NET CORE";
    // var available = true;
    // var value = "A";
    // var gender = GenderEnum.Female;
    // //Lists
    // var numbers = new List<int>();
    // //Literals
    // int number = 100; //
    // double pi = 3.14;
    // string greeting = "Hello , World";
    // char letter = 'A';
    // bool isActive = false;
    // object obj = null;
    // int hexValue = 0xff; //hex | 10
    // long largNumber = 123456789L;
    // decimal price = 19.99M; //price $
}

<div class="text-center">
    asp .net core @(ViewBag.clientId)
    secret : @(ViewBag.secretKey)
    <form asp-controller="Home" asp-action="Index"asp-route-id="1" asp-route-name="">
         <a asp-controller="Home" asp-action="Privacy">Create Person</a>
    </form>
    <form action="~/home/index"></form>
    <input type="text" asp-area="" asp-controller="" asp-action="" asp-route-id=""/>
    <input href="/home/index/1"/>
</div>