@{
    ViewData["Title"] = "Privacy Policy Ali"; //Key - Value => Dictionary(key,value)
}

<div>
    <partial name="_PartialView"/>
    @await Html.PartialAsync("_PartialView")
    @{
        await Html.RenderPartialAsync("_PartialView");

    }
</div>